@model TypicalMirek_UsedCarDealer.Models.Body

@{
    ViewBag.Title = "Create";
    Layout = "../Shared/_AdminLayout.cshtml";
}

<h2 style="text-align: center">Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4 style="text-align: center">Body</h4>
        <hr />
        @Html.ValidationSummary(true, string.Empty, new { @class = "text-danger" })
        <div class="form-horizontal col-md-12">
            <div class="form-group col-md-12">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @placeholder = nameof(Model.Name) } })
                @Html.ValidationMessageFor(model => model.Name, string.Empty, new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-horizontal col-md-12">
            <div class="form-group col-md-12">
                <input type="submit" value="Create" class="btn btn-primary col-md-12 col-xs-12" />
            </div>
        </div>
    </div>
}

<div class="form-horizontal col-md-12">
    <div class="form-group col-md-12">
        <div>
            @Html.ActionLink("Back to List", "List", "CarBody", new { @class = "btn btn-default col-md-12 col-xs-12" })
        </div>
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
