@using TypicalMirek_UsedCarDealer.Models
@using TypicalMirek_UsedCarDealer.Models.Enums
@model IEnumerable<TypicalMirek_UsedCarDealer.Models.Body>

@{
    ViewBag.Title = "List of car bodies";
    Layout = string.Empty;
}

<h2>List of car bodies</h2>

<p>
    @Html.ActionLink(linkText: "New car body", actionName: "Admin", controllerName: "Admin", routeValues: new ParametersToAdminMenu { Chose = SidebarChoose.CreateBodies, Id = null }, htmlAttributes: null)
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.ActionLink(linkText: "Edit", actionName: "Admin", controllerName: "Admin", routeValues: new ParametersToAdminMenu { Chose = SidebarChoose.EditBodies, Id = item.Id }, htmlAttributes: null) |
            @Html.ActionLink(linkText: "Details", actionName: "Admin", controllerName: "Admin", routeValues: new ParametersToAdminMenu { Chose = SidebarChoose.DetailsBodies, Id = item.Id }, htmlAttributes: null) |
            @Html.ActionLink(linkText: "Delete", actionName: "Admin", controllerName: "Admin", routeValues: new ParametersToAdminMenu { Chose = SidebarChoose.DeleteBodies, Id = item.Id }, htmlAttributes: null)
        </td>
    </tr>
}

</table>
