@using TypicalMirek_UsedCarDealer.Models
@using TypicalMirek_UsedCarDealer.Models.Enums
@model TypicalMirek_UsedCarDealer.Models.Brand

@{
    ViewBag.Title = "Delete";
    Layout = "../Shared/_AdminLayout.cshtml";
}

<h1 style="text-align: center">Delete</h1>

<h3 style="text-align: center">Are you sure you want to delete this?</h3>
<div>
    <h4 style="text-align: center">Brand</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <div class="form-horizontal col-md-12">
                <div class="form-group col-md-12">
                    <div>
                        <input type="submit" value="Delete" class="btn btn-primary col-md-12 col-xs-12" />
                    </div>
                </div>
            </div>
            <div class="form-horizontal col-md-12">
                <div class="form-group col-md-12">
                    <div>
                        @Html.ActionLink("Back to List", "List", "Brands", new { @class = "btn btn-default col-md-12 col-xs-12" })
                    </div>
                </div>
            </div>
        </div>
    }
</div>
