@model TypicalMirek_UsedCarDealer.Models.Brand

@{
    ViewBag.Title = "Details";
    Layout = "../Shared/_AdminLayout.cshtml";
}

<h1 style="text-align: center">Details</h1>

<div>
    <h4 style="text-align: center">Brand</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

    </dl>
</div>
<div class="form-horizontal col-md-12">
    <div class="form-group col-md-12">
        <div>
            @Html.ActionLink("Edit", "Edit", "Brands", new { Id = Model.Id }, new { @class = "btn btn-info col-md-12 col-xs-12" })
        </div>
    </div>
</div>

<div class="form-horizontal col-md-12">
    <div class="form-group col-md-12">
        <div>
            @Html.ActionLink("Back to List", "List", "Brands", new { @class = "btn btn-default col-md-12 col-xs-12" })
        </div>
    </div>
</div>