@model TypicalMirek_UsedCarDealer.Models.ParametersToCarList
@Styles.Render("~/Content/car-list")

@Styles.Render("~/Content/DependendDropdown")
@Scripts.Render("~/bundles/DependendDropdown")

<script>
    $(document).ready(function () {
        $("#model").depdrop({
            url: '@Url.Action("Models", "Car")',
            depends: ['brand']
        });
    });
</script>
<div class="container">
    <div class="row">
        <div>
            <div class="panel panel-default">
                <div class="panel-heading text-center">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" href="#collapse1">
                            <i class="glyphicon glyphicon-arrow-down"></i>
                            PRESS TO OPEN SEARCH BAR
                            <i class="glyphicon glyphicon-arrow-down"></i>
                        </a>
                    </h4>
                </div>
                <form id="collapse1" class="panel-collapse collapse" action="@Url.Action("CarList", "Car")" method="get">
                    <div>

                    </div>
                    <div class="form-group col-md-12">
                        <div class="form-group col-md-2">
                            <select name="character" class="form-control">
                                <option selected disabled hidden>Character</option>
                                @foreach (var item in Model.CharacterList)
                                {
                                    if (Request.QueryString["character"] == item)
                                    {
                                        <option selected value="@item">@item</option>
                                    }
                                    else
                                    {
                                        <option value="@item">@item</option>
                                    }
                                }
                            </select>
                        </div>

                        <div class="form-group col-md-2">
                            <select name="brand" id="brand" class="form-control">
                                <option selected disabled hidden>Brand</option>
                                @foreach (var item in Model.BrandList)
                                {
                                    if (Request.QueryString["brand"] == item)
                                    {
                                        <option selected value="@item">@item</option>
                                    }
                                    else
                                    {
                                        <option value="@item">@item</option>
                                    }
                                }
                            </select>
                        </div>

                        <div class="form-group col-md-2">
                            <select id="model" name="model" class="form-control">
                                <option selected disabled hidden>Model</option>
                                @if (!string.IsNullOrEmpty(Request.QueryString["model"]))
                                {
                                    <option selected>@Request.QueryString["model"]</option>
                                }
                            </select>
                        </div>

                        <div class="form-group col-md-2">
                            <div class="row no-gutter col-md-8">
                                @if (string.IsNullOrEmpty(Request.QueryString["minPrice"]))
                                {
                                    <input type="text" class="form-control" name="minPrice" placeholder="&lt; price">
                                }
                                else
                                {
                                    <input value="@Request.QueryString["minPrice"]" type="text" class="form-control" name="minPrice" placeholder="&lt; price">
                                }
                            </div>
                            <div class="row no-gutter col-md-8">
                                @if (string.IsNullOrEmpty(Request.QueryString["maxPrice"]))
                                {
                                    <input type="text" class="form-control" name="maxPrice" placeholder="&gt; price">
                                }
                                else
                                {
                                    <input value="@Request.QueryString["maxPrice"]" type="text" class="form-control" name="maxPrice" placeholder="&gt; price">
                                }
                            </div>
                        </div>

                        <div class="form-group col-md-2">
                            <select name="fuel" class="form-control">
                                <option selected disabled hidden>Fuel</option>
                                @foreach (var item in Model.FuelList)
                                {
                                    if (Request.QueryString["fuel"] == item)
                                    {
                                        <option selected value="@item">@item</option>
                                    }
                                    else
                                    {
                                        <option value="@item">@item</option>
                                    }
                                }
                            </select>
                        </div>

                        <div class="form-group col-md-2">
                            <div class="row no-gutter col-md-8">
                                @if (string.IsNullOrEmpty(Request.QueryString["yearFrom"]))
                                {
                                    <input type="text" class="form-control" name="yearFrom" placeholder="&lt; year">
                                }
                                else
                                {
                                    <input value="@Request.QueryString["yearFrom"]" type="text" class="form-control" name="yearFrom" placeholder="&lt; year">
                                }
                            </div>
                            <div class="row no-gutter col-md-8">
                                @if (string.IsNullOrEmpty(Request.QueryString["yearTo"]))
                                {
                                    <input type="text" class="form-control" name="yearTo" placeholder="&gt; year">
                                }
                                else
                                {
                                    <input value="@Request.QueryString["yearTo"]" type="text" class="form-control" name="yearTo" placeholder="&gt; year">
                                }
                            </div>
                        </div>
                    </div>

                    <div class="form-group col-md-12">
                        <div class="form-group col-md-2">
                            <select name="body" class="form-control">
                                <option selected disabled hidden>Body</option>
                                @foreach (var item in Model.BodyList)
                                {
                                    if (Request.QueryString["body"] == item)
                                    {
                                        <option selected value="@item">@item</option>
                                    }
                                    else
                                    {
                                        <option value="@item">@item</option>
                                    }
                                }
                            </select>
                        </div>

                        <div class="form-group col-md-2">
                            <div class="row no-gutter col-md-8">
                                @if (string.IsNullOrEmpty(Request.QueryString["milleageFrom"]))
                                {
                                    <input type="text" class="form-control" name="milleageFrom" placeholder="&lt; milleage">
                                }
                                else
                                {
                                    <input value="@Request.QueryString["milleageFrom"]" type="text" class="form-control" name="milleageFrom" placeholder="&lt; milleage">
                                }
                            </div>
                            <div class="row no-gutter col-md-8">
                                @if (string.IsNullOrEmpty(Request.QueryString["milleageTo"]))
                                {
                                    <input type="text" class="form-control" name="milleageTo" placeholder="&gt; milleage">
                                }
                                else
                                {
                                    <input value="@Request.QueryString["milleageTo"]" type="text" class="form-control" name="milleageTo" placeholder="&gt; milleage">
                                }
                            </div>
                        </div>

                        <div class="form-group col-md-2">
                            <select name="damaged" class="form-control">
                                @{
                                    var damaged = Request.QueryString["damaged"];

                                    switch (damaged)
                                    {
                                        case "true":
                                            <option selected value="true">Yes</option>
                                            <option value="false">No</option>
                                            break;
                                        case "false":
                                            <option value="true">Yes</option>
                                            <option selected value="false">No</option>
                                            break;
                                        default:
                                            <option selected disabled hidden>Damaged</option>
                                            <option value="true">Yes</option>
                                            <option value="false">No</option>
                                            break;
                                    }
                                }
                            </select>
                        </div>

                        <div class="form-group col-md-2">
                            <div class="row no-gutter col-md-8">
                                @if (string.IsNullOrEmpty(Request.QueryString["engineCapacityFrom"]))
                                {
                                    <input type="text" class="form-control" name="engineCapacityFrom" placeholder="&lt; capacity">
                                }
                                else
                                {
                                    <input value="@Request.QueryString["engineCapacityFrom"]" type="text" class="form-control" name="engineCapacityFrom" placeholder="&lt; capacity">
                                }
                            </div>
                            <div class="row no-gutter col-md-8">
                                @if (string.IsNullOrEmpty(Request.QueryString["engineCapacityTo"]))
                                {
                                    <input type="text" class="form-control" name="engineCapacityTo" placeholder="&gt; capacity">
                                }
                                else
                                {
                                    <input value="@Request.QueryString["engineCapacityTo"]" type="text" class="form-control" name="engineCapacityTo" placeholder="&gt; capacity">
                                }
                            </div>
                        </div>

                        <div class="form-group col-md-2">
                            <div class="row no-gutter col-md-8">
                                @if (string.IsNullOrEmpty(Request.QueryString["enginePowerFrom"]))
                                {
                                    <input type="text" class="form-control" name="enginePowerFrom" placeholder="&lt; power">
                                }
                                else
                                {
                                    <input value="@Request.QueryString["enginePowerFrom"]" type="text" class="form-control" name="enginePowerFrom" placeholder="&lt; power">
                                }
                            </div>
                            <div class="row no-gutter col-md-8">
                                @if (string.IsNullOrEmpty(Request.QueryString["enginePowerTo"]))
                                {
                                    <input type="text" class="form-control" name="enginePowerTo" placeholder="&gt; power">
                                }
                                else
                                {
                                    <input value="@Request.QueryString["enginePowerTo"]" type="text" class="form-control" name="enginePowerTo" placeholder="&gt; power">
                                }
                            </div>
                        </div>

                        <div class="form-group col-md-2">
                            <select name="gearbox" class="form-control">
                                <option selected disabled hidden>Gearbox</option>
                                @foreach (var item in Model.GearboxList)
                                {
                                    if (Request.QueryString["gearbox"] == item)
                                    {
                                        <option selected value="@item">@item</option>
                                    }
                                    else
                                    {
                                        <option value="@item">@item</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>

                    <div class="form-group col-md-12">
                        <div class="form-group col-md-2">
                            <select name="propulsion" class="form-control">
                                <option selected disabled hidden>Propulsion</option>
                                @foreach (var item in Model.PropulsionList)
                                {
                                    if (Request.QueryString["propulsion"] == item)
                                    {
                                        <option selected value="@item">@item</option>
                                    }
                                    else
                                    {
                                        <option value="@item">@item</option>
                                    }
                                }
                            </select>
                        </div>

                        <div class="form-group col-md-2">
                            <select name="numberOfSeats" class="form-control">
                                <option selected disabled hidden>Seats</option>
                                @foreach (var item in Model.NumberOfSeatsList)
                                {
                                    if (Request.QueryString["numberOfSeats"] == item.ToString())
                                    {
                                        <option selected value="@item">@item</option>
                                    }
                                    else
                                    {
                                        <option value="@item">@item</option>
                                    }
                                }
                            </select>
                        </div>

                        <div class="form-group col-md-2">
                            <select name="colour" class="form-control">
                                <option selected disabled hidden>Colour</option>
                                @foreach (var item in Model.ColorList)
                                {
                                    if (Request.QueryString["colour"] == item)
                                    {
                                        <option selected value="@item">@item</option>
                                    }
                                    else
                                    {
                                        <option value="@item">@item</option>
                                    }
                                }
                            </select>
                        </div>

                        <div class="form-group col-md-2">
                            <select name="perPage" class="form-control">
                                @{
                                    var perPage = Request.QueryString["perPage"];

                                    switch (perPage)
                                    {
                                        case "10":
                                            <option selected id="10">10</option>
                                            <option id="20">20</option>
                                            <option id="50">50</option>
                                            <option id="100">100</option>
                                            break;
                                        case "20":
                                            <option id="10">10</option>
                                            <option selected id="20">20</option>
                                            <option id="50">50</option>
                                            <option id="100">100</option>
                                            break;
                                        case "50":
                                            <option id="10">10</option>
                                            <option id="20">20</option>
                                            <option selected id="50">50</option>
                                            <option id="100">100</option>
                                            break;
                                        case "100":
                                            <option id="10">10</option>
                                            <option id="20">20</option>
                                            <option id="50">50</option>
                                            <option selected id="100">100</option>
                                            break;
                                        default:
                                            <option selected disabled hidden>Per page</option>
                                            <option id="10">10</option>
                                            <option id="20">20</option>
                                            <option id="50">50</option>
                                            <option id="100">100</option>
                                            break;
                                    }
                                }
                            </select>
                        </div>

                        <div class="form-group col-md-2">
                            <select name="sortBy" id="sortBy" class="form-control">
                                <option selected disabled hidden>Sort by</option>
                                @foreach (var item in Model.SortByList)
                                {
                                    if (Request.QueryString["sortBy"] == item)
                                    {
                                        <option selected value="@item">@item</option>
                                    }
                                    else
                                    {
                                        <option value="@item">@item</option>
                                    }
                                }
                            </select>
                        </div>

                        <div class="form-group col-md-2">
                            <button type="submit" value="Submit" class="btn btn-success btn-product">
                                Search <span class="glyphicon glyphicon-search"></span>&nbsp;
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        @foreach (var item in Model.Cars)
        {
            var value = 360;
            if (User.IsInRole("Admin"))
            {
                value += 39;
            }
            var height = value + "px";
            <div class="col-sm-4 col-md-3" style="height: @height">
                <div class="thumbnail" id="over">
                    @if (@item.Photos.Count == 0)
                    {
                        <img href="/Car/ShowCar?id=@item.Id" src="@Url.Action($"GetCarImage", $"CarManagement", new {imageName = "empty.png"})" class="img-responsive car-image" alt="">
                    }
                    else
                    {
                        <img href="/Car/ShowCar?id=@item.Id" src="@Url.Action($"GetCarImage", $"CarManagement", new {imageName = @item.Photos.First().Name})" class="img-responsive car-image" alt="">
                    }

                    <div class="caption" style="text-align: center">
                        <div class="row">
                            <h4>@item.Brand @item.ModelName</h4>
                            <p>Only @item.Price$</p>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <a href="@Url.Action("OrderCar", "Garages", new {carId=item.Id})" class="btn btn-primary btn-product"><span class="glyphicon glyphicon-shopping-cart"></span> Order</a>
                            </div>
                            <div class="col-md-12">
                                <a href="@Url.Action("ShowCar", "Car", new {id = item.Id})" class="btn btn-success btn-product"> Show</a>
                            </div>
                            @if (User.IsInRole("Admin"))
                            {
                                <div class="col-md-12">
                                    <div class="row col-md-6" style="width: 47%;">
                                        <a href="@Url.Action("Details", "CarManagement", new {id = item.Id})" class="btn btn-success btn-product"> Details</a>
                                    </div>
                                    <div class="row col-md-6" style="width: 50%;">
                                        <a href="@Url.Action("Suspend", "CarManagement", new {id = item.Id})" class="btn btn-success btn-product"> Suspend</a>
                                    </div>
                                    <div class="row col-md-5" style="width: 44%;">
                                        <a href="@Url.Action("Delete", "CarManagement", new {id = item.Id})" class="btn btn-warning btn-product"> Delete</a>
                                    </div>
                                </div>
                            }
                        </div>
                        <p></p>
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="row" style="display: table; margin: 0 auto; ">
        <nav aria-label="...">
            <ul class="pagination">
                @for (var i = 0; i < Model.NumberOfPages; i++)
                {
                    string query;
                    if (Request.Url.Query.Contains("page=" + Request.QueryString["page"]))
                    {
                        query = Request.Url.Query.Replace("page=" + Request.QueryString["page"], "page=" + i);
                    }
                    else if (Request.Url.Query.Contains("page="))
                    {
                        query = Request.Url.Query.Replace("page=", "page=" + i);
                    }
                    else if (string.IsNullOrEmpty(Request.Url.Query))
                    {
                        query = "?page=" + i;
                    }
                    else
                    {
                        query = Request.Url.Query + "&page=" + i;
                    }

                    if (i == Convert.ToInt32(Request.QueryString["page"]))
                    {
                        <li class="active"><a href="@query">@i</a></li>
                    }
                    else
                    {
                        <li><a href="@query">@i</a></li>
                    }
                }
            </ul>
        </nav>
    </div>
</div>
