@model TypicalMirek_UsedCarDealer.Models.ParametersToCarList

@Styles.Render("~/Content/car-list")

@Styles.Render("~/Content/DependendDropdown")
@Scripts.Render("~/bundles/DependendDropdown")

<script>
    $(document).ready(function () {
        $(".chosen-select").chosen();

        $("#model").depdrop({
            url: '/Car/Models',
            depends: ['brand']
        });
    });
</script>
<div class="container">
    <div class="row">
        <div style="background-color: #e8eaef;">
            <form action="/Car/CarList" method="get">
                <fieldset>
                    <div class="form-group col-md-12">
                        <div class="form-group col-md-2">
                            <select name="Brand" id="brand" class="form-control">
                                <option selected disabled hidden>Brand</option>
                                @foreach (var item in Model.BrandList)
                                {
                                    if (Request.QueryString["brand"] == item)
                                    {
                                        <option selected value="@item">@item</option>
                                    }
                                    else
                                    {
                                        <option value="@item">@item</option>
                                    }
                                }
                            </select>
                        </div>

                        <div class="form-group col-md-2">
                            <select name="Model" id="model" class="form-control">
                                <option selected disabled hidden>Model</option>
                                @if (!string.IsNullOrEmpty(Request.QueryString["model"]))
                                {
                                <option selected>@Request.QueryString["model"]</option>
                                }
                            </select>
                        </div>

                        <div class="form-group col-md-2">
                            @if (string.IsNullOrEmpty(Request.QueryString["minPrice"]))
                            {
                                <input type="text" class="form-control" name="minPrice" placeholder="Min price">
                            }
                            else
                            {
                                <input value="@Request.QueryString["minPrice"]" type="text" class="form-control" name="minPrice" placeholder="Min price">
                            }
                        </div>

                        <div class="form-group col-md-2">
                            @if (string.IsNullOrEmpty(Request.QueryString["maxPrice"]))
                            {
                                <input type="text" class="form-control" name="maxPrice" placeholder="Max price">
                            }
                            else
                            {
                                <input value="@Request.QueryString["maxPrice"]" type="text" class="form-control" name="maxPrice" placeholder="Max price">
                            }
                        </div>


                        <div class="form-group col-md-2">
                            @if (string.IsNullOrEmpty(Request.QueryString["yearFrom"]))
                            {
                                <input type="text" class="form-control" name="yearFrom" placeholder="Min year">
                            }
                            else
                            {
                                <input value="@Request.QueryString["yearFrom"]" type="text" class="form-control" name="yearFrom" placeholder="Min year">
                            }
                        </div>

                        <div class="form-group col-md-2">
                            @if (string.IsNullOrEmpty(Request.QueryString["yearTo"]))
                            {
                                <input type="text" class="form-control" name="yearTo" placeholder="Max year">
                            }
                            else
                            {
                                <input value="@Request.QueryString["yearTo"]" type="text" class="form-control" name="yearTo" placeholder="Max year">
                            }
                        </div>
                    </div>
                    <div class="form-group col-md-12" id="fuel">
                        <div id="fuel" class="form-group col-md-2">
                            <select class="form-control">
                                <option selected disabled hidden>Fuel</option>
                                @foreach (var item in Model.FuelList)
                                {
                                    if (Request.QueryString["fuel"] == item)
                                    {
                                        <option selected value="@item">@item</option>
                                    }
                                    else
                                    {
                                        <option value="@item">@item</option>
                                    }
                                }
                            </select>
                        </div>

                        <div id="body" class="form-group col-md-2">
                            <select class="form-control">
                                <option selected disabled hidden>Body</option>
                                @foreach (var item in Model.BodyList)
                                {
                                    if (Request.QueryString["body"] == item)
                                    {
                                        <option selected value="@item">@item</option>
                                    }
                                    else
                                    {
                                        <option value="@item">@item</option>
                                    }
                                }
                            </select>
                        </div>

                        <div class="form-group col-md-2">
                            @if (string.IsNullOrEmpty(Request.QueryString["milleageFrom"]))
                            {
                                <input type="text" class="form-control" name="milleageFrom" placeholder="Min milleage">
                            }
                            else
                            {
                                <input value="@Request.QueryString["milleageFrom"]" type="text" class="form-control" name="milleageFrom" placeholder="Min milleage">
                            }
                        </div>

                        <div class="form-group col-md-2">
                            @if (string.IsNullOrEmpty(Request.QueryString["milleageTo"]))
                            {
                                <input type="text" class="form-control" name="milleageTo" placeholder="Max milleage">
                            }
                            else
                            {
                                <input value="@Request.QueryString["milleageTo"]" type="text" class="form-control" name="milleageTo" placeholder="Max milleage">
                            }
                        </div>
                    </div>
                    <div class="form-group col-md-12" style="display: table; margin: 0 auto;">
                        <div class="form-group col-md-2">
                            <select id="perPage" class="form-control">
                                @{
                                    var perPage = Request.QueryString["perPage"];

                                    switch (perPage)
                                    {
                                        case "10":
                                            <option selected id="10">10</option>
                                            <option id="20">20</option>
                                            <option id="50">50</option>
                                            <option id="100">100</option>
                                            break;
                                        case "20":
                                            <option id="10">10</option>
                                            <option selected id="20">20</option>
                                            <option id="50">50</option>
                                            <option id="100">100</option>
                                            break;
                                        case "50":
                                            <option id="10">10</option>
                                            <option id="20">20</option>
                                            <option selected id="50">50</option>
                                            <option id="100">100</option>
                                            break;
                                        case "100":
                                            <option id="10">10</option>
                                            <option id="20">20</option>
                                            <option id="50">50</option>
                                            <option selected id="100">100</option>
                                            break;
                                        default:
                                            <option selected disabled hidden>Per page</option>
                                            <option id="10">10</option>
                                            <option id="20">20</option>
                                            <option id="50">50</option>
                                            <option id="100">100</option>
                                            break;
                                    }
                                }
                            </select>
                        </div>

                        <div class="form-group col-md-2">
                            <select name="sortBy" id="sortBy" class="form-control">
                                <option selected disabled hidden>Sort by</option>
                                @foreach (var item in Model.SortByList)
                                {
                                    if (Request.QueryString["sortBy"] == item)
                                    {
                                        <option selected value="@item">@item</option>
                                    }
                                    else
                                    {
                                        <option value="@item">@item</option>
                                    }
                                }
                            </select>
                        </div>

                        <div class="form-group col-md-1">
                            <input type="submit" value="Submit" class="btn btn-default" />
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
        <div class="col-md-12">
            @foreach (var item in Model.Cars)
                                            {
                <div class="col-sm-4 col-md-3" style="height: 360px">
                    <div class="thumbnail" id="over">
                        @if (@item.Photos.Count == 0)
                                            {
                            <img href="/Car/ShowCar?id=@item.Id" src="@Url.Action($"GetCarImage", $"CarManagement", new {imageName = "empty.png"})" class="img-responsive car-image" alt="">
                        }
                        else
                        {
                            <img href="/Car/ShowCar?id=@item.Id" src="@Url.Action($"GetCarImage", $"CarManagement", new {imageName = @item.Photos.First().Name})" class="img-responsive car-image" alt="">
                        }

                        <div class="caption" style="text-align: center">
                            <div class="row">
                                <h4>@item.Brand @item.ModelName</h4>
                                <p>Only @item.Price$</p>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <a href="#" class="btn btn-primary btn-product"><span class="glyphicon glyphicon-thumbs-up"></span> Add to wishlist</a>
                                </div>
                                <div class="col-md-12">
                                    <a href="/Car/ShowCar?id=@item.Id" class="btn btn-success btn-product"><span class="glyphicon glyphicon-shopping-cart"></span> Show</a>
                                </div>
                            </div>
                            <p></p>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="row" style="display: table; margin: 0 auto; ">
            <nav aria-label="...">
                <ul class="pagination">
                    @for (var i = 0; i < Model.NumberOfPages; i++)
                    {
                        //ale odjebałem!!! XDDD
                        string query;
                        if (Request.Url.Query.Contains("page=" + Model.CurrentPage))
                        {
                            query = Request.Url.Query.Replace("page=" + Model.CurrentPage, "page=" + i);
                        }
                        else if (Request.Url.Query.Contains("page="))
                        {
                            query = Request.Url.Query.Replace("page=", "page=" + i);
                        }
                        else if (string.IsNullOrEmpty(Request.Url.Query))
                        {
                            query = "?page=" + i;
                        }
                        else
                        {
                            query = Request.Url.Query + "&page=" + i;
                        }

                        if (i == Model.CurrentPage)
                        {
                            <li class="active"><a href="@query">@i</a></li>
                        }
                        else
                        {
                            <li><a href="@query">@i</a></li>
                        }
                    }
                </ul>
            </nav>
        </div>
    </div>
</div>