@using TypicalMirek_UsedCarDealer.Models
@using TypicalMirek_UsedCarDealer.Models.Enums
@model TypicalMirek_UsedCarDealer.Models.ViewModels.CarDetailsViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Car</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Brand)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Brand)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ModelName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModelName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModelVersion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModelVersion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Character)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Character)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Body)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Body)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Propulsion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Propulsion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SourceOfEnergy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SourceOfEnergy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.YearOfProduction)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.YearOfProduction)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumberOfSeats)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberOfSeats)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumberOfOwners)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberOfOwners)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FuelTankCapacity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FuelTankCapacity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EnginePower)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EnginePower)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Length)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Length)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mass)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mass)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Milleage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Milleage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Damaged)
        </dt>

        <dd>
            @if (Model.Damaged == null)
            {
                Model.Damaged = false;
            }
            @Html.CheckBoxFor(model => model.Damaged.Value, new { @disabled = "disabled" })
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Color)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Color)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gearbox)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gearbox)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Country)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Country)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PositionOfSteeringWheel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PositionOfSteeringWheel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Climatisation)
        </dt>

        <dd>
            @if (Model.Climatisation == null)
            {
                Model.Climatisation = false;
            }
            @Html.CheckBoxFor(model => model.Climatisation.Value, new { @disabled = "disabled" })
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AdditionalWheels)
        </dt>

        <dd>
            @if (Model.AdditionalWheels == null)
            {
                Model.AdditionalWheels = false;
            }
            @Html.CheckBoxFor(model => model.AdditionalWheels.Value, new { @disabled = "disabled" })
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Towbar)
        </dt>

        <dd>
            @if (Model.Towbar == null)
            {
                Model.Towbar = false;
            }
            @Html.CheckBoxFor(model => model.Towbar.Value, new { @disabled = "disabled" })
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Radio)
        </dt>

        <dd>
            @if (Model.Radio == null)
            {
                Model.Radio = false;
            }
            @Html.CheckBoxFor(model => model.Radio.Value, new { @disabled = "disabled" })
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink(linkText: "Edit", actionName: "Admin", controllerName: "Admin", routeValues: new ParametersToAdminMenu { Chose = SidebarChoose.EditBodies, Id = Model.Id }, htmlAttributes: null) |

    @Html.ActionLink(linkText: "Back to List", actionName: "Admin", controllerName: "Admin", routeValues: new ParametersToAdminMenu { Chose = SidebarChoose.BodiesList }, htmlAttributes: null) |
</p>
