@model TypicalMirek_UsedCarDealer.Models.Car

@{
    ViewBag.Title = "Suspend";
    Layout = "../Shared/_AdminLayout.cshtml";
}

<h1 style="text-align: center">Suspend car</h1>
<h3 style="text-align: center">Are you sure you want to suspend this?</h3>
<div>
    <h4 style="text-align: center">Car</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MainData.Model.Brand)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MainData.Model.Brand.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MainData.Model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MainData.Model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MainData.Model.Version)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MainData.Model.Version)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal col-md-12">
            <div class="form-group col-md-12">
                <div>
                    <input type="submit" value="Suspend" class="btn btn-danger btn-product col-md-12 col-xs-12" />
                </div>
            </div>
        </div>
        <div class="form-horizontal col-md-12">
            <div class="form-group col-md-12">
                <div>
                    @Html.ActionLink("Back to List", "List", "CarManagement", new { @class = "btn btn-default col-md-12 col-xs-12" })
                </div>
            </div>
        </div>
    }
</div>

