@Styles.Render("~/Content/PureDropdownMenu")

<div class="container">
    <ul>
        <li class="dropdown">
            <input type="checkbox">
            <a href="#" data-toggle="dropdown">First Menu</a>
            <ul class="dropdown-menu">
                <li><a href="@Url.Content("~/Admin/Admin?parameter=1")">Home</a></li>
                <li><a href="@Url.Content("~/Admin/Admin?parameter=2")">About Us</a></li>
                <li><a href="@Url.Content("~/Admin/Admin?parameter=3")">Services</a></li>
                <li><a href="@Url.Content("~/Admin/Admin?parameter=4")">Contact</a></li>
            </ul>
        </li>
        <li class="dropdown">
            <input type="checkbox">
            <a href="#" data-toggle="dropdown">Second Menu</a>
            <ul class="dropdown-menu">
                <li><a href="@Url.Content("~/Admin/Admin?parameter=1")">Home</a></li>
                <li><a href="@Url.Content("~/Admin/Admin?parameter=2")">About Us</a></li>
                <li><a href="@Url.Content("~/Admin/Admin?parameter=3")">Services</a></li>
                <li><a href="@Url.Content("~/Admin/Admin?parameter=4")">Contact</a></li>
            </ul>
        </li>
        <li class="dropdown">
            <input type="checkbox">
            <a href="#" data-toggle="dropdown">Third Menu</a>
            <ul class="dropdown-menu">
                <li><a href="@Url.Content("~/Admin/Admin?parameter=1")">Home</a></li>
                <li><a href="@Url.Content("~/Admin/Admin?parameter=2")">About Us</a></li>
                <li><a href="@Url.Content("~/Admin/Admin?parameter=3")">Services</a></li>
                <li><a href="@Url.Content("~/Admin/Admin?parameter=4")">Contact</a></li>
            </ul>
        </li>
    </ul>
</div>