@using TypicalMirek_UsedCarDealer.Models
@using TypicalMirek_UsedCarDealer.Models.Enums

@*If background colour will be changed, remember change theme of scroolbar! Check script section in _AdminLayout
    http://manos.malihu.gr/repository/custom-scrollbar/demo/examples/scrollbar_themes_demo.html*@

<nav class="mCustomScrollbar sidenav" id="adminMenu" data-sidenav data-sidenav-toggle="#sidenav-toggle" style="overflow-y: hidden;">
    <div class="sidenav-header"></div>
    <div class="sidenav-brand">
        <p>Menu</p>
    </div>
    <div class="sidenav-header">
        <p>Cars</p>
    </div>
    <ul class="sidenav-menu">
        <li>
            <a href="javascript:;" data-sidenav-dropdown-toggle class="active">
                <span class="sidenav-link-icon">
                    <i class="glyphicon glyphicon-pushpin"></i>
                </span>
                <span class="sidenav-link-title">Cars</span>
                <span class="sidenav-dropdown-icon show" data-sidenav-dropdown-icon>
                    <i class="glyphicon glyphicon-chevron-right"></i>
                </span>
                <span class="sidenav-dropdown-icon" data-sidenav-dropdown-icon>
                    <i class="glyphicon glyphicon-chevron-left"></i>
                </span>
            </a>
            <ul class="sidenav-dropdown" data-sidenav-dropdown>
                <li>@Html.ActionLink("Show all", "List", "CarManagement")</li>
                <li>@Html.ActionLink("Add new", "Create", "CarManagement")</li> 
            </ul>
        </li>
        <li>
            <a href="javascript:;" data-sidenav-dropdown-toggle class="active">
                <span class="sidenav-link-icon">
                    <i class="glyphicon glyphicon-pencil"></i>
                </span>
                <span class="sidenav-link-title">Edit categories</span>
                <span class="sidenav-dropdown-icon show" data-sidenav-dropdown-icon>
                    <i class="glyphicon glyphicon-chevron-right"></i>
                </span>
                <span class="sidenav-dropdown-icon" data-sidenav-dropdown-icon>
                    <i class="glyphicon glyphicon-chevron-left"></i>
                </span>
            </a>
            <ul class="sidenav-dropdown" data-sidenav-dropdown>
                <li>
                    @Html.ActionLink("Car bodies", "List", "CarBodies")
                </li>
                <li>
                    @Html.ActionLink("Car brands", "List", "Brands")
                </li>
                <li>
                    @Html.ActionLink("Car characters", "List", "Characters")
                </li>
                <li>
                    @Html.ActionLink("Car types", "List", "Types")
                </li>
                <li>
                    @Html.ActionLink("Colors", "List", "Colors")
                </li>
                <li>
                    @Html.ActionLink("Countries", "List", "Countries")
                </li>
            </ul>
        </li>
    </ul>
    <div class="sidenav-header">
        <p>Frontend</p>
    </div>
    <ul class="sidenav-menu">
        <li>
            <a href="javascript:;" data-sidenav-dropdown-toggle class="active">
                <span class="sidenav-link-icon">
                    <i class="glyphicon glyphicon-home"></i>
                </span>
                <span class="sidenav-link-title">Home page</span>
                <span class="sidenav-dropdown-icon show" data-sidenav-dropdown-icon>
                    <i class="glyphicon glyphicon-chevron-right"></i>
                </span>
                <span class="sidenav-dropdown-icon" data-sidenav-dropdown-icon>
                    <i class="glyphicon glyphicon-chevron-left"></i>
                </span>
            </a>
            <ul class="sidenav-dropdown" data-sidenav-dropdown>
                <li>@Html.ActionLink("Slider", "Admin", new ParametersToAdminMenu { Chose = SidebarChoose.Nothing, Id = null })</li>
            </ul>
        </li>
        <li>
            <a href="javascript:;" data-sidenav-dropdown-toggle class="active">
                <span class="sidenav-link-icon">
                    <i class="glyphicon glyphicon-pencil"></i>
                </span>
                <span class="sidenav-link-title">Change content</span>
                <span class="sidenav-dropdown-icon show" data-sidenav-dropdown-icon>
                    <i class="glyphicon glyphicon-chevron-right"></i>
                </span>
                <span class="sidenav-dropdown-icon" data-sidenav-dropdown-icon>
                    <i class="glyphicon glyphicon-chevron-left"></i>
                </span>
            </a>
            <ul class="sidenav-dropdown" data-sidenav-dropdown>
                <li>
                    @Html.ActionLink("Contact", "Admin", "Admin", new ParametersToAdminMenu { Chose = SidebarChoose.EditContact, Id = null }, null)
                </li>
                <li>
                    @Html.ActionLink("About", "Admin", "Admin", new ParametersToAdminMenu { Chose = SidebarChoose.EditAbout, Id = null }, null)
                </li>
                <li>
                    @Html.ActionLink("Footer", "Admin", "Admin", new ParametersToAdminMenu { Chose = SidebarChoose.EditFooter, Id = null }, null)
                </li>
            </ul>
        </li>
    </ul>
    <div class="sidenav-header">
        <p>Users</p>
    </div>
    <ul class="sidenav-menu">
        <li>
            <a href=@Url.Action("Admin", new ParametersToAdminMenu {Chose = SidebarChoose.ChangeUserRole, Id = null})>
                <span class="sidenav-link-icon">
                    <i class="glyphicon glyphicon-user" style="color: white"></i>
                </span>
                <span class="sidenav-link-title" style="color: white">Change user role</span>
            </a>
        </li>
    </ul>
</nav>

