@using TypicalMirek_UsedCarDealer.Models
@using TypicalMirek_UsedCarDealer.Models.Enums
@Styles.Render("~/Content/simple-sidebar")
@Scripts.Render("~/bundles/simple-sidebar")

<div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li>
                @Html.ActionLink(linkText:"Cars", actionName:"Admin", routeValues: new ParametersToAdminMenu { Chose = SidebarChoose.CarList, Id = null})
            </li>
            <li>
                @Html.ActionLink(linkText: "Car bodies", actionName: "Admin", routeValues: new ParametersToAdminMenu { Chose = SidebarChoose.BodiesList, Id = null })
            </li>
            <li>
                @Html.ActionLink(linkText: "Car brands", actionName: "Admin", routeValues: new ParametersToAdminMenu {Chose = SidebarChoose.BrandList, Id = null})
            </li>
            <li>
                @Html.ActionLink(linkText: "Car characters", actionName: "Admin", routeValues: new ParametersToAdminMenu {Chose = SidebarChoose.CharacterList, Id = null})
            </li>
            <li>
                @Html.ActionLink(linkText: "Car types", actionName: "Admin", routeValues: new ParametersToAdminMenu {Chose = SidebarChoose.TypeList, Id = null})
            </li>
            <li>
                @Html.ActionLink(linkText: "Car categories", actionName: "Admin", routeValues: new ParametersToAdminMenu {Chose = SidebarChoose.CategoryList, Id = null})
            </li>
            <li>
                @Html.ActionLink(linkText: "Colors", actionName: "Admin", routeValues: new ParametersToAdminMenu {Chose = SidebarChoose.ColorList, Id = null})
            </li>
            <li>
                @Html.ActionLink(linkText: "Countries", actionName: "Admin", routeValues: new ParametersToAdminMenu { Chose = SidebarChoose.CountryList, Id = null })
            </li>
            <li>
                @Html.ActionLink(linkText: "Change user role", actionName: "Admin", routeValues: new ParametersToAdminMenu { Chose = SidebarChoose.ChangeUserRole, Id = null })
            </li>
        </ul>
</div>
