@using TypicalMirek_UsedCarDealer.Models
@using TypicalMirek_UsedCarDealer.Models.Enums
@Styles.Render("~/Content/simple-sidebar")
@Scripts.Render("~/bundles/simple-sidebar")

<div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li>
                @Html.ActionLink(linkText:"Cars", actionName:"Admin", routeValues: new ParametersToAdminMenu { Chose = SidebarChoose.CarList, Id = null})
            </li>
            <li>
                @Html.ActionLink(linkText: "Car bodies", actionName: "Admin", routeValues: new ParametersToAdminMenu { Chose = SidebarChoose.BodiesList, Id = null })
            </li>
            <li>
                @Html.ActionLink(linkText: "Car brands", actionName: "Admin", routeValues: new ParametersToAdminMenu { Chose = SidebarChoose.BrandList, Id = null })
            </li>
        </ul>
</div>
