@model IEnumerable<TypicalMirek_UsedCarDealer.Models.Order>

@{
    var orderId = ViewBag.OrderId;
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Car)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Car.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateOfOrder)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsConfirmed)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Car.MainData.Model.Brand.Name)
                @Html.DisplayFor(modelItem => item.Car.MainData.Model.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Car.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfOrder)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsConfirmed)
            </td>

            @if (!item.IsConfirmed)
            {
                <td>
                    <button id="button-modal" type="button" class="btn btn-info btn-xs" data-toggle="modal" data-target="#myModal" data-id="@item.Id">
                        Confirm
                    </button>

                    @Html.ActionLink("Delete", "DeleteOrder", new { id = item.Id }, new { @class = "btn btn-info btn-xs" })
                    @Html.ActionLink("Show order", "ShowOrder", new { id = item.Id }, new { @class = "btn btn-info btn-xs" })

                </td>
            }
            else
            {
                <td>
                    @Html.ActionLink("Show order", "ShowOrder", new { id = item.Id }, new { @class = "btn btn-info btn-xs" })
                </td>
            }

        </tr>
    }
</table>

<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <p>Your order is in realisation</p>
                <p>We will call you soon to make an appointment.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

<script>

    $("#button-modal").click(function (ev) {
        ev.preventDefault();
        var selflink = $(this);
        var id = selflink.data('id');

        $('#myModal').show();

        $('#myModal').on('hidden.bs.modal', function () {
            window.location.href = '/Garages/ConfirmOrder/' + id;
        });
    });
</script>
