@model TypicalMirek_UsedCarDealer.Models.ViewModels.ChangeUserRoleViewModel

@{
    Layout = null;
    ViewBag.Title = "Change user role";
}

<h2>Change user role</h2>


@using (Html.BeginForm("ChangeUserRole", "Account", FormMethod.Post, new { @class = "form-horizontal"}))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @if (Model.IsSucces != null && (bool) Model.IsSucces)
        {
            <div class="form-group">
                <div class="col-md-12 text-success">
                    <p>User role has been changed successfuly</p>
                </div>
            </div>
        }
        else if (Model.IsSucces != null && !(bool) Model.IsSucces)
        {
            <div class="form-group">
                <div class="col-md-12 text-danger">
                    <p>User doesn't exist</p>
                </div>
            </div>
        }

        <hr/>
        @Html.ValidationSummary(true, string.Empty, new {@class = "text-danger"})
        <div class="form-group">
            @Html.LabelFor(model => model.UserName, htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.UserName, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.UserName, null, new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Roles, htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.SelectedRoleId, Model.Roles, string.Empty, htmlAttributes: new {@class = "form-control"})
                @Html.ValidationMessageFor(model => model.Roles, null, new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Change" class="btn btn-primary col-md-12 col-xs-12"/>
            </div>
        </div>

    </div>
}

