@model IList<TypicalMirek_UsedCarDealer.Models.ViewModels.CarPhotoViewModel>

@Styles.Render("~/Content/Chosen")
@Scripts.Render("~/bundles/Chosen")

@Styles.Render("~/Content/ImageSelect")
@Scripts.Render("~/bundles/ImageSelect")

@Scripts.Render("~/bundles/sendDeleteSlidePost")

<script>
    $(document).ready(function () {
        $("#carsInSlider").chosen({
            width: "100%",
            html_template: '{text} <img style="padding:0px;margin-right:4px;min-height:100px;width: auto;" class="{class_name}" src="{url}" />'
        });
    });

    function getValues() {
        const values = $("#carsInSlider").val();
        return values;
    }
</script>

<h2>Current images in slider</h2>
<h4>Press [x] near photo wchich You want to delete and press button</h4>

<select multiple="multiple" id="carsInSlider">
    @foreach (var it in Model)
    {
        <option data-img-src="@Url.Action($"GetCarImage", $"CarManagement", new {imageName = it.imageName})" selected="selected" value="@it.carId">@it.description</option>
    }
</select>

<button class="btn btn-success btn-product"
        onclick="send('@Url.Action("UpdateSliderPhotos", "Api")', getValues(), '@Request.Url.PathAndQuery')">
    Save
</button>