@using TypicalMirek_UsedCarDealer.Models.ViewModels
@model TypicalMirek_UsedCarDealer.Models.ParametersToContact

@{
    ViewBag.Title = "Contact";
    var model = new EmailFormViewModel();
}

<div class="container">
    <h2>Contact us</h2>
    <h2>@Model.Result</h2>

    <div class="col-md-12">
        <div class="col-md-6">
            @using (Html.BeginForm("SendEmail", "Api", FormMethod.Post))
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal col-md-12">
                    <div class="form-group col-md-12">
                        @Html.EditorFor(m => model.FromName, new {htmlAttributes = new {@class = "form-control", @placeholder = "Your name"}})
                        @Html.ValidationMessageFor(m => model.FromName)
                    </div>
                </div>
                <div class="form-horizontal col-md-12">
                    <div class="form-group col-md-12">
                        @Html.EditorFor(m => model.FromEmail, new {htmlAttributes = new {@class = "form-control", @placeholder = "Your email"}})
                        @Html.ValidationMessageFor(m => model.FromEmail)
                    </div>
                </div>
                <div class="form-horizontal col-md-12">
                    <div class="form-group col-md-12">
                        @Html.TextAreaFor(m => model.Message, new {@class = "form-control col-md-12 col-xs-12", @placeholder = nameof(model.Message)})
                        @Html.ValidationMessageFor(m => model.Message)
                    </div>
                </div>
                <div class="form-horizontal col-md-12">
                    <div class="form-group col-md-12">
                        <input type="submit" value="Create" class="btn btn-primary col-md-12 col-xs-12"/>
                    </div>
                </div>
            }
        </div>

        <div class="col-md-6">
            @Html.Raw(Model.Content)
        </div>
    </div>
</div>