@model TypicalMirek_UsedCarDealer.Models.ParametersToHome

@{
    ViewBag.Title = "Home Page";
}

@Styles.Render("~/Content/HomeSlider")
@Scripts.Render("~/bundles/HomeSlider")

@Styles.Render("~/Content/DependendDropdown")
@Scripts.Render("~/bundles/DependendDropdown")

@Styles.Render("~/Content/ProductShopSlider")
@Scripts.Render("~/bundles/ProductShopSlider")

@Styles.Render("~/Content/car-list")

<script type="text/javascript">
    $(document).ready(function () {
        jQuery(document).ready(function () {
            jQuery('#recommendedcarslider').slippry();
        });

        $("#model").depdrop({
            url: '@Url.Action("Models", "Car")',
            depends: ['brand']
        });

        $('#hotcarslider').elastislide({
            minItems: 1,
            speed: 1000
        });

        $('#newcarslider').elastislide({
            minItems: 1,
            speed: 1000
        });
    });
</script>

<div class="container">
    <div class="col-md-12">
        <div class="form-group col-md-7">
            @if (Model.Slider.Count != 0)
            {
                <ul id="recommendedcarslider">
                    @foreach (var item in Model.Slider)
                    {
                        <li>
                            <a href="@Url.Action("ShowCar", "Car", new {id = item.carId})">
                                <img style="max-height: 400px;" src="@Url.Action("GetCarImage", "CarManagement", new {imageName = @item.imageName})" alt="@item.description for only @item.price$">
                            </a>
                        </li>
                    }
                </ul>
            }
            else
            {
                if (User.IsInRole("Admin"))
                {
                    <h2>You did not added photos in slider.</h2>
                    <p>@Html.ActionLink("Add them now!", "AddPhotosToSlider", "Slider", null, new { @class = "btn btn-primary btn-product col-md-12 col-xs-12" })</p>
                }
                else
                {
                    <h2>Sorry, we can not show recommended car now. Please try later.</h2>
                }
            }

        </div>

        <div class="form-group col-md-5">
            <div align="center">
                <img class="img-responsive" src="@Url.Action("HeaderImage", "GetPhoto", new {name="logoFun"@*zmienic na logoNormal*@, extension="jpg"})" />
            </div>

            <form action=@Url.Action("CarList", "Car") method="get" style="background-color: rgb(242, 242, 242);">
                <div class="form-group text-center col-md-12">
                    <h4>What are You looking for?</h4>
                </div>
                <div class="form-group col-md-12">
                    <div class="form-group col-md-6">
                        <select name="brand" id="brand" class="form-control">
                            <option selected disabled hidden>Brand</option>
                            @foreach (var item in Model.BrandList)
                            {
                                <option value="@item">@item</option>
                            }
                        </select>
                    </div>

                    <div class="form-group col-md-6">
                        <select id="model" name="model" class="form-control">
                            <option selected disabled hidden>Model</option>
                        </select>
                    </div>
                </div>

                <div class="form-group col-md-12">
                    <div class="form-group col-md-6">
                        <div class="row no-gutter col-md-8">
                            <input type="text" class="form-control" name="minPrice" placeholder="&lt; price">
                        </div>
                        <div class="row no-gutter col-md-8">
                            <input type="text" class="form-control" name="maxPrice" placeholder="&gt; price">

                        </div>
                    </div>

                    <div class="form-group col-md-6">
                        <div class="row no-gutter col-md-8">
                            <input type="text" class="form-control" name="yearFrom" placeholder="&lt; year">
                        </div>
                        <div class="row no-gutter col-md-8">
                            <input type="text" class="form-control" name="yearTo" placeholder="&gt; year">
                        </div>
                    </div>
                </div>

                <div class="form-group col-md-12">
                    <div class="form-group col-md-6">
                        <div class="row no-gutter col-md-8">
                            <input type="text" class="form-control" name="milleageFrom" placeholder="&lt; milleage">
                        </div>
                        <div class="row no-gutter col-md-8">
                            <input type="text" class="form-control" name="milleageTo" placeholder="&gt; milleage">
                        </div>
                    </div>

                    <div class="form-group col-md-6">
                        <select name="fuel" class="form-control">
                            <option selected disabled hidden>Fuel</option>
                            @foreach (var item in Model.FuelTypeList)
                            {
                                <option value="@item">@item</option>
                            }
                        </select>
                    </div>

                </div>
                <div class="text-center">
                    <button type="submit" value="Submit" class="btn btn-success btn-product">
                        Search <span class="glyphicon glyphicon-search"></span>&nbsp;
                    </button>
                </div>
            </form>
        </div>
    </div>

    <div align="center">
        <h1>Check our hot cars!</h1>
    </div>

    <ul id="hotcarslider" class="elastislide-list">
        @foreach (var item in Model.HotCars)
        {
            <li>
                <p style="text-align: center">@item.description</p>
                <a href="@Url.Action("ShowCar", "Car", new {id=item.carId})">
                    <img style="height: 200px; max-width: 300px; margin: 0 auto; display: block" src="@Url.Action($"GetCarImage", $"CarManagement", new {imageName = @item.imageName})" alt="@item.description" />
                </a>
                <p style="text-align: center">Price: only @item.price$</p>
            </li>
        }
    </ul>

    <div align="center">
        <h1>Check recently added car!</h1>
    </div>

    <ul id="newcarslider" class="elastislide-list">
        @foreach (var item in Model.NewCars)
        {
            <li>
                <p style="text-align: center">@item.description</p>
                <a href="@Url.Action("ShowCar", "Car", new {id=item.carId})">
                    <img style="height: 200px; max-width: 300px; margin: 0 auto; display: block" src="@Url.Action($"GetCarImage", $"CarManagement", new {imageName = @item.imageName})" alt="@item.description" />
                </a>
                <p style="text-align: center">Price: only @item.price$</p>
            </li>
        }
    </ul>
</div>
