@{
    ViewBag.Title = "Home Page";
}

@Styles.Render("~/Content/js-image-slider")
@Scripts.Render("~/bundles/js-image-slider")

<div class="row">
    <div class="col-md-3">
        car photo
    </div>
    <div class="col-md-3">
        car photo
    </div>
    <div class="col-md-3">
        car photo
    </div>
    <div class="col-md-3">
        car photo
    </div>
</div>

<div class="row">
    <div id="sliderFrame">
        <div id="slider">
            <a href="http://www.menucool.com/javascript-image-slider" target="_blank">
                <img src="@Url.Content("~/GetPhoto/Slider/1")" alt="Welcome to Menucool.com" />
            </a>
            <img src="@Url.Content("~/GetPhoto/Slider/2")" alt="" />
            <img src="@Url.Content("~/GetPhoto/Slider/3")" alt="Pure Javascript. No jQuery. No flash." />
            <img src="@Url.Content("~/GetPhoto/Slider/4")" alt="#htmlcaption" />
            <img src="@Url.Content("~/GetPhoto/Slider/5")"/>
        </div>
        <div id="htmlcaption" style="display: none;">
            <em>HTML</em> caption. Link to <a href="http://www.google.com/">Google</a>.
        </div>
    </div>
</div>
