@using TypicalMirek_UsedCarDealer.Models
@using TypicalMirek_UsedCarDealer.Models.Enums
@model ParametersToAdminMenu

@Scripts.Render("~/bundles/Statistic")

<script>
    jQuery(function () {
        jQuery("#statistic").hBarChart({

            // background color
            bgColor: 'blue',

            // text color
            textColor: 'Orange',

            // label,data,both
            show: 'both',

            // re-sort according to your data
            sorting: true,

            // style your maximum value bar
            maxStyle: {
                bg: 'red',
                text: 'white'
            }
        });
    })

    function redirect(path, brandName, carType) {
        const adres = path + '?brandName=' + brandName + '&carType=' + carType;
        window.location(adres);
    }
</script>

@using (Html.BeginForm())
{
    <h1>Number of views - statistic</h1>
    <div class="container">
        <div class="form-group col-md-4">
            <select name="brandName" class="form-control">
                <option selected disabled hidden>Brand</option>
                @foreach (var item in Model.BrandNames)
                {
                    if (Request.QueryString["brandName"] == item)
                    {
                        <option selected value="@item">@item</option>
                    }
                    else
                    {
                        <option value="@item">@item</option>
                    }
                }
            </select>
        </div>

        <div class="form-group col-md-4">
            <select name="carType" class="form-control">
                <option selected disabled hidden>Type</option>
                @foreach (var item in Model.Cartypes)
                {
                    if (Request.QueryString["carType"] == item)
                    {
                        <option selected value="@item">@item</option>
                    }
                    else
                    {
                        <option value="@item">@item</option>
                    }
                }
            </select>
        </div>

        <div class="form-group col-md-3">
            <button class="btn btn-info btn-product"
                    onclick="redirect('@Url.Action("Admin", "Admin")', $('#brandName').val(), $('#carType').val())">
                Show
            </button>
        </div>

    </div>
        <ul id="statistic">
            @foreach (var it in Model.Values)
            {
                <li data-data="@it.Value">
                    @it.Name
                </li>
            }
        </ul>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
