@model IEnumerable<TypicalMirek_UsedCarDealer.Models.Color>

@{
    ViewBag.Title = "List";
    Layout = "../Shared/_AdminLayout.cshtml";
}

@using (Html.BeginForm("List", "Colors", null, FormMethod.Get))
{
    <h1 style="text-align: center">List of colors</h1>

    <p>
        @Html.ActionLink("New color", "Create", "Colors", new { @class = "btn btn-primary btn-product col-md-12 col-xs-12" })
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", "Colors", new { Id = item.Id }, new { @class = "btn btn-info btn-xs col-md-4 col-xs-12" })
                    @Html.ActionLink("Details", "Details", "Colors", new { Id = item.Id }, new { @class = "btn btn-info btn-xs col-md-4 col-xs-12" })
                    @Html.ActionLink("Delete", "Delete", "Colors", new { Id = item.Id }, new { @class = "btn btn-danger btn-xs col-md-4 col-xs-12" })
                </td>
            </tr>
        }
    </table>
}
