@model TypicalMirek_UsedCarDealer.Models.ViewModels.AddCarViewModel


<div class="form-horizontal">
    <h5>
        Additional information about car
    </h5>
    <hr />

    <div class="form-group">
        <div class="col-md-12">
            @Html.DropDownListFor(model => model.ColorId, Model.Colors, nameof(Model.Colors), htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.ColorId, string.Empty, new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-12">
            @Html.DropDownListFor(model => model.GearboxId, Model.Gearboxes, nameof(Model.Gearboxes), htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.GearboxId, string.Empty, new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-12">
            @Html.DropDownListFor(model => model.CountryId, Model.Countries, nameof(Model.Countries), htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.CountryId, string.Empty, new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-12">
            @Html.DropDownListFor(model => model.PositionOfSteeringWheelId, Model.PositionsOfSteeringWheel, nameof(Model.PositionsOfSteeringWheel), htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.PositionOfSteeringWheelId, string.Empty, new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-12">
            @{ Html.EnableClientValidation(false); }
            @Html.TextBoxFor(model => model.EngineCapacity, new { @class = "form-control", @placeholder = nameof(Model.EngineCapacity) })
            @{ Html.EnableClientValidation(true); }
            @Html.ValidationMessageFor(model => model.EngineCapacity, string.Empty, new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-12">
            @{ Html.EnableClientValidation(false); }
            @Html.TextBoxFor(model => model.FuelTankCapacity, new { @class = "form-control", @placeholder = nameof(Model.FuelTankCapacity) })
            @{ Html.EnableClientValidation(true); }
            @Html.ValidationMessageFor(model => model.FuelTankCapacity, string.Empty, new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-12">
            @Html.TextBoxFor(model => model.EnginePower, new { @class = "form-control", @type = "number", @min = "0", @placeholder = nameof(Model.EnginePower) })
            @Html.ValidationMessageFor(model => model.EnginePower, string.Empty, new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-12">
            @{ Html.EnableClientValidation(false); }
            @Html.TextBoxFor(model => model.Length, new { @class = "form-control", @min = "0", @placeholder = nameof(Model.Length) })
            @{ Html.EnableClientValidation(true); }
            @Html.ValidationMessageFor(model => model.Length, string.Empty, new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-12">
            @{ Html.EnableClientValidation(false); }
            @Html.TextBoxFor(model => model.Mass, new { @class = "form-control", @placeholder = nameof(Model.Mass) })
            @{ Html.EnableClientValidation(true); }
            @Html.ValidationMessageFor(model => model.Mass, string.Empty, new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-12">
            @{ Html.EnableClientValidation(false); }
            @Html.TextBoxFor(model => model.Milleage, new { @class = "form-control", @placeholder = nameof(Model.Milleage) })
            @{ Html.EnableClientValidation(true); }
            @Html.ValidationMessageFor(model => model.Milleage, string.Empty, new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-12">
            @Html.TextBoxFor(model => model.NumberOfSeats, new { @class = "form-control", @type = "number", @min = "0", @placeholder = nameof(Model.NumberOfSeats) })
            @Html.ValidationMessageFor(model => model.NumberOfSeats, string.Empty, new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-12">
            @Html.TextBoxFor(model => model.NumberOfOwners, new { @class = "form-control", @type = "number", @min = "0", @placeholder = nameof(Model.NumberOfSeats) })
            @Html.ValidationMessageFor(model => model.NumberOfOwners, string.Empty, new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Damaged, htmlAttributes: new { @class = "control-label col-md-1", @style = "text-align: left" })
        <div class="col-md-1">
            @Html.CheckBoxFor(model => model.Damaged, Model.Damaged)
        </div>
        <div class="col-md-10">
            @Html.ValidationMessageFor(model => model.Damaged, string.Empty, new { @class = "text-danger", @type = "boolean" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Climatisation, htmlAttributes: new { @class = "control-label col-md-1", @style = "text-align: left" })
        <div class="col-md-10">
            @Html.CheckBoxFor(model => model.Climatisation, Model.Climatisation)
            @Html.ValidationMessageFor(model => model.Climatisation, string.Empty, new { @class = "text-danger", @type = "boolean" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.AdditionalWheels, htmlAttributes: new { @class = "control-label col-md-1", @style = "text-align: left" })
        <div class="col-md-10">
            @Html.CheckBoxFor(model => model.AdditionalWheels, Model.AdditionalWheels)
            @Html.ValidationMessageFor(model => model.AdditionalWheels, string.Empty, new { @class = "text-danger", @type = "boolean" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Towbar, htmlAttributes: new { @class = "control-label col-md-1", @style = "text-align: left" })
        <div class="col-md-10">
            @Html.CheckBoxFor(model => model.Towbar, Model.Towbar)
            @Html.ValidationMessageFor(model => model.Towbar, string.Empty, new { @class = "text-danger", @type = "boolean" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Radio, htmlAttributes: new { @class = "control-label col-md-1", @style = "text-align: left" })
        <div class="col-md-10">
            @Html.CheckBoxFor(model => model.Radio, Model.Radio)
            @Html.ValidationMessageFor(model => model.Radio, string.Empty, new { @class = "text-danger", @type = "boolean" })
        </div>
    </div>
</div>
<hr />

