@model TypicalMirek_UsedCarDealer.Models.ViewModels.AddCarViewModel

<div class="form-horizontal">
    <h5>
        Additional information about car
    </h5>
    <hr />

    <div class="form-group">
        @Html.LabelFor(model => model.NumberOfSeats, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.NumberOfSeats, new { @class = "form-control", @type = "number", @min = "0" })
            @Html.ValidationMessageFor(model => model.NumberOfSeats, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.NumberOfOwners, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.NumberOfOwners, new { @class = "form-control", @type = "number", @min = "0" })
            @Html.ValidationMessageFor(model => model.NumberOfOwners, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.EngineCapacity, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.EngineCapacity, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.EngineCapacity, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.FuelTankCapacity, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.FuelTankCapacity, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.FuelTankCapacity, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.EnginePower, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.EnginePower, new { @class = "form-control", @type = "number", @min = "0" })
            @Html.ValidationMessageFor(model => model.EnginePower, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Length, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.Length, new { @class = "form-control", @type = "price", @min = "1" })
            @Html.ValidationMessageFor(model => model.Length, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Mass, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.Mass, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Mass, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Milleage, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.Milleage, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Milleage, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Damaged, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.CheckBoxFor(model => model.Damaged, Model.Damaged)
            @Html.ValidationMessageFor(model => model.Damaged, "", new { @class = "text-danger", @type = "boolean" })
        </div>
    </div>

</div>
<hr />

